.transactionHistory {
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
table {
  border-collapse: collapse;
}

thead {
  background-color: palegoldenrod;
}

th {
  height: 50px;
}

tr:nth-child(2n) {
  background-color: palegreen;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
